<%= stylesheet 'admin'  %>
<%# javascript 'admin'  %>

<h1> Admin Area </h1>
<div id="content_container">

  <table class="tc-table">
    <tr>
      <td class="link">
        <%= link_to "Administer Users", users_url %>
      <td class="link">
        <%= link_to "Sort by hits", admins_url(:params => {:sort_by => 'hits'}) %>
      </td>
      <td class="link">
        <%= link_to "Sort by date created", admins_url(:params => {:sort_by => 'created'}) %>
      </td>
      <td class="link">
        <%= link_to "Sort by date edited", admins_url(:sort_by => 'edited') %>
      </td>
      <td>
        <%= will_paginate @charts %>
      </td>
    </tr>
  </table>

  <table class="tc-table">
    <tr>
      <th>User</th>
      <th>Id</th>
      <th>Title</th>
      <th>Dates</th>
      <th>Hits</th>
      <th>Private?</th>
      <th>Created On</th>
      <th>Edited On</th>
      <th>Events</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
      <%= render :partial => "chart", :collection => @charts %>
  </table>
</div>
