<tr id="user_chart_summary_<%= chart.id %>">
  <td><%= chart.title %> </td>
  <td>(<%= chart.start_date.year %> to <%= chart.end_date.year %>)</td>
  <td><%= chart.hits %> </td>
  <td><%= chart.private %> </td>
  <td><%= chart.created_at.strftime("%d %b %y | %H:%M") %> </td>
  <td><%= chart.edited_at.strftime("%d %b %y | %H:%M") %></td>
  <td><%= chart.num_events %></td>
  <td class="action"><%= link_to 'View', '/' + chart.id.to_s  %></td>
  <td class="action"><%= link_to 'Edit', edit_timeline_chart_url(chart)  %></td>
  <td class="action"><%= button_to_function "Delete", "if (confirm('Are you sure?')) deleteTimeline(#{chart.id})", :class => :delete_timeline_link %></td>
</tr>
