<div class='user_chart_summary'>	  
		<p class='user_chart_title'><%= chart_summary.title %></p>
    
		<p class='user_chart_dates'>(<%= chart_summary.start_date.year %> to <%= chart_summary.end_date.year %>)</p>
  
		<p class='user_chart_controls'> 
 			<%= link_to 'View', chart_summary.id.to_s, :class => :timeline_link  %> 
			<%= link_to 'Edit', edit_timeline_chart_url(chart_summary), :class => :timeline_link  %> 
			<%= button_to_function "Delete", "if (confirm('Are you sure?')) deleteTimeline(#{chart_summary.id})", :class => :delete_timeline_link %>
		</p>	
</div>
