<div id="chart_summary_<%= chart_summary.id %>">
  <p>
    <%= chart_summary.title %>:
    <%= chart_summary.start_date.year %> to <%= chart_summary.end_date.year %>
    <%= link_to 'edit', edit_timeline_chart_url(chart_summary) %>
    <%= button_to_function "Delete", "if (confirm('Are you sure?')) deleteTimeline(#{chart_summary.id})" %>
  </p>
</div>
