<div id="top_chart_summary_<%= top_chart.id %>" class='top_chart_summary'>
    <p class='timeline_summary'> 
    <%= top_chart.title %> 
    (<%= top_chart.start_date.year %> to <%= top_chart.end_date.year %>)
   	</p > 
    <%= link_to 'View', top_chart.id.to_s , :class => "timeline_link"  %>
</div>
