<div id="top_chart_summary_<%= top_chart.id %>" class='top_chart_summary'>
    <a href='/<%=  top_chart.id.to_s   %>' class='top_chart_link' >
	 	<p class='top_chart_title'><%= top_chart.title %></p>
     
	    <p class='top_chart_dates'>(<%= top_chart.start_date.year %> - <%= top_chart.end_date.year %>)</p>

		<p class='top_chart_user'><%= top_chart.user.name %> on <%= top_chart.created_at.strftime('%B %Y') %></p> 
   	</a>
</div>
