<div id="<%= type %>_event_form">
<%= simple_form_for @event, :remote => true do |f| %>
  <%= f.error_messages %>
  
  <div class="input string required event_title" >
    <label class="string required" for="event_title">
      Event
    </label>
    <input class="string required" 
    name="event[title]" size="50" type="text"
    value="<%= @event.title %>" />
  </div>
  
  <div class="input string required" >
    <label class="string required" for="event_start_date">
      Start date
    </label>
    <input class="string required event_start_date" 
    name="event[start_date]" size="50" type="text"
    value="<%= @event.start_date.year if @event.start_date %>" />
  </div>

  <div class="input string required">
    <label class="string required" for="event_end_date">
      End date
    </label>
    <input class="string required event_end_date"
    name="event[end_date]" size="50" type="text"
    value="<%= @event.end_date.year if @event.end_date%>" />
  </div>

  <%= f.hidden_field :timeline_chart_id, :value => @timeline_chart.id %>
  <%= f.submit :value => 'Add »' %>
<% end %>
</div>
