<div class='timeline_context' > 

  <h1 class='chart_title'><a href='timeline_charts/<%= @timeline_chart.id %>' ><%= @timeline_chart.title %></a></h1>
  <h1 class='chart_author'>
    <%= User.find(@timeline_chart.user_id) %>
  </h1>  

  <div id='tape_description'> 
    <img id='close_tape_description' src='/images/cross.png' /> 
    <div></div>
  </div>


  <div class="timeline" id="timeline_<%= @timeline_chart.id %>" style="height: 150px;"></div>
  <div class="inline_script">
    <script type="text/javascript">
      /*********** simile timeline functions **/
      var events = {
        <% if all_events %>
            'events': [
            <% all_events.each_with_index do |event, i| %>
              {
                'start': new Date(<%= event.start_date.to_i * 1000 %>),
                'end': new Date(<%= event.end_date.to_i * 1000 %>),
                'title': '<p id="" class="title_id_<%= event.id %>"><%= escape_javascript event.title %></p>',
                'description': '<%= escape_javascript event.description %>',
                'color' : '<%= event.color %>',
                'textColor' : 'black',
                'eventID' : <%= event.id %>,
                'classname'  : "<%= event.id.to_s %> <%= event.color %> band_<%=event.band %>"
              }<% if i != all_events.length - 1 -%>, <% end -%>
      <% end %>
        ]
      <% end %>
      };

      <%
        if @timeline_chart.start_year < 0
          start_year_mod = 10 
        else 
          start_year_mod = @timeline_chart.start_year  
        end 
      %>

      Timeliner.create(<%= edit_mode %>, <%=@timeline_chart.interval_pixels.to_s %>, <%= @timeline_chart.zoom %>, <%= start_year_mod %>,<%= @timeline_chart.end_year %>,<%= @timeline_chart.center_year %>, 'timeline_<%= @timeline_chart.id %>', events );
    </script>
  </div> 
</div>
