<script type="text/javascript">
/*********** simile timeline functions **/
var events = {
  <% if all_events %>
    'dateTimeFormat': 'iso8601',
    'events': [
    <% all_events.each_with_index do |event, i| %>
      {
        <% 	if event.start_date and event.end_date 
        	# this is horrible 
           	if event.start_date.iso8601.to_s.length < 20 
           		my_start = '0'+event.start_date.iso8601
           	else 		
	           my_start = event.start_date.iso8601
    		end 
    		
            if event.end_date.iso8601.to_s.length < 20 
           		my_end = '0'+event.end_date.iso8601
           	else 		
	           my_end = event.end_date.iso8601
    		end 		
    	%>
          'start': '<%= my_start.to_s %>',
          'end'  : '<%= my_end.to_s %>',
        <% end %>
        'title': '<p id="" class="title_id_<%= event.id %>"><%= escape_javascript event.title %></p>',
        'description': '<%= escape_javascript event.description %>',
        'color' : '<%= event.color %>',
        'textColor' : 'black',
        'eventID' : <%= event.id %>,
        'classname'  : "<%= event.id.to_s %> <%= event.color %> band_<%=event.band %>"
        }<% if i != all_events.length - 1 -%>, <% end -%>
    <% end %>
    ]
  <% end %>       
};

initialiseTimeline(<%= edit_mode %>, 
                   <%= @timeline_chart.zoom %>, 
                   <%= @timeline_chart.start_year %>, 
                   <%= @timeline_chart.end_year %>, 
                   <%= @timeline_chart.center_year %>);
</script>

<noscript>
    <% if all_events %>

    <% all_events.each_with_index do |event, i| %>
      <h2><%= escape_javascript event.title %></h2> 
        
        <% if event.start_date and event.end_date %>
          <p>start: <%= event.start_date.iso8601 %></p>
          <p>end: <%= event.end_date.iso8601 %></p>
        <% end %>

  
        <% if i != all_events.length - 1 -%>, <% end -%>
    <% end %>
    
  <% end %>       
</noscript>

    <% if all_events %>

    <% all_events.each_with_index do |event, i| %>
 
          <div id='description_<%= event.id %>' class='description'><%= event.description %></div>
  
        <% if i != all_events.length - 1 -%> <% end -%>
    <% end %>
    
  <% end %>   

