<%= form_for @timeline_chart do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date , :start_year => -1000, :discard_month => true, :discard_day => true, :discard_hour => true, :discard_minute => true%>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.datetime_select :end_date , :start_year => -1000, :discard_month => true, :discard_day => true, :discard_hour => true, :discard_minute => true%>
  </p>
  <p><%= f.submit 'Create timeline' %></p>
<% end %>
