<%= simple_form_for @timeline_chart, :remote => true do |f| %>
  <%= f.error_messages %>
    <%= f.input :title %>

  <div class="input string required">
    <label class="string required" for="timeline_chart_start_year">
      Start Year
    </label>
    <input class="string required" id="timeline_chart_start_year"
    name="timeline_chart[start_year]" size="10" type="text" 
    value="<%= @timeline_chart.start_date.year if @timeline_chart.start_date %>" />
  </div>

  <div class="input string required">
    <label class="string required" for="timeline_chart_end_year">
      End Year
    </label>
    <input class="string required" id="timeline_chart_end_year"
    name="timeline_chart[end_year]" size="10" type="text" 
    value="<%= @timeline_chart.end_date.year if @timeline_chart.end_date%>" />
  </div>

    <%= f.input :granularity, :as => :select, :collection => TimelineChart::PERIOD, :prompt => ""%>
    <%= f.input :private %>
    <%= f.button :submit, 'Save' %>
<% end %>
