<%= form_for @timeline_chart do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :start_date %><br />
     <%= select_year(1800, :start_year => 0, :end_year => 2050, :field_name => 'start_date') %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= select_year(1900, :start_year => 0, :end_year => 2050, :field_name => 'end_date') %>
  </p>
  <p><%= f.submit 'Create timeline' %></p>
<% end %>
