<%= simple_form_for @timeline_chart, :remote => true do |f| %>
  <%= f.error_messages %>
    
  <%= f.input :title %>

  <div class="input string required" id="timeline_chart_center_year_wrapper" >
    <label class="string required" for="timeline_chart_center_year">
      Centre year
    </label>
    <input class="string required"  id="timeline_chart_center_year"
    name="timeline_chart[center_year]" size="10" type="text" 
    value="<%= @timeline_chart.center_date.year if @timeline_chart.center_date %>" />
  </div>
  
	<div id='timeline_chart_zoom_wrapper'>
		<%= f.input :zoom, :as => :select, :collection => TimelineChart::PERIOD, :prompt => "", :label => "Labels" %>
	</div>
  
	<div id='timeline_chart_interval_pixels_wrapper'>
		<%= f.input :interval_pixels , :as => :select, :collection => TimelineChart::INTERVAL, :prompt => "", :label => "Zoom"%>
	</div>  
	
	<div id='timeline_chart_private_div'>
		<%= f.label :private   %>
		<%= f.check_box :private   %>
	</div>
  	
  	<div id='description_accordian'> 
  		<%= f.label :description %>
  		<%= text_area(:timeline_chart, :description) %>
  	</div> 
   <%= f.button :submit, 'Save' %>
 <% end %>
