<h1 id='timeline_title'><%= @timeline_chart.title.to_s %></h1>

<div id='content_container'>

  <div id="edit_timeline_chart"> <%= render 'form' %> </div>

  <%= render :partial => 'events/form', :locals => { :type => 'new'} %>

  <!-- More trouble than it's worth? JT
  <div id='new_duration' data-id='<%= @timeline_chart.id %>'><span>Drag onto the timeline to add</span></div> 
  -->  

  <div class='timeline_container'> 
    <%= render :partial => 'timeline_charts/chart', :locals => {:all_events => @timeline_chart.events.all, :edit_mode => 'true' } %>
  </div>    

  <%= render :partial => 'auto_add' %>

</div>
