<% title "Edit Timeline Chart" %>


<p id="strap">Build and share timelines of historical events<p> 

<div id='content_container'>
	<div id="edit_timeline_chart"> <%= render 'form' %> </div>
	
	<%= render 'events/form' %>
	
  <div id='new_duration' style='width:200px; border:1px solid black;z-index:4000'
    data-id='<%= @timeline_chart.id %>'>Drag onto the timeline to add</div> 
	<div id="my-timeline" style="height: 150px; border: 1px solid #aaa;"></div>
  <div id="inline_script">
	  <%= render :partial => 'timeline_charts/chart', :locals => {:all_events => @timeline_chart.events.all, :edit_mode => 'true' } %>
	</div>
  <%= render :partial => 'auto_add' %>
	
</div>

	
