<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Timeline" %></title>
        <meta name="google-site-verification" content="p_Ul0IlSvQ2-eWxxU-kORj1VD4fEgkh2-xiXehRL_Fg" />
        <meta name="description" content="Make and share timelines. Automatically add Wikipedia dates, drag and drop events... super simple timelines." />
    
    <% if Rails.env.production? then %>

    <% else %>
     

    <% end %>
    
    
    <%= stylesheet_link_tag "http://freebaselibs.com/static/suggest/1.2.1/suggest.min.css" %>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "/javascripts/jquery" %>
    <%= stylesheet_link_tag "timeline" %>
    <%= stylesheet_link_tag "modal" %>
    <%= stylesheet_link_tag "global" %>
    <%= stylesheet_link_tag "rails" %>
        
    <%= javascript_include_tag 'crockford' %>
    <%= javascript_include_tag "/javascripts/timeline/timeline_ajax/simile-ajax-api.js?bundle=true" %>
    <%= javascript_include_tag "/javascripts/timeline/timeline_js/timeline-api.js?bundle=true" %>
    <%= javascript_include_tag "http://freebaselibs.com/static/suggest/1.2.1/suggest.min.js" %>
    <%= javascript_include_tag 'jquery/jquery.min' %>
    <%= javascript_include_tag 'jquery/jquery-ui.min' %>    
    <%= javascript_include_tag 'ajax' %>
    <%= javascript_include_tag 'rails' %>
    
    <%= javascript_include_tag 'freebase' %>
    <%= javascript_include_tag 'simile' %>    
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
    
  </head>
  <body >
 	<%	 
 			class_type = params[:controller]  
 		
 	%>
 	
    <div id="user_nav">
   
      <div id='login_state'>

        <a href='/about' id='about' >About</a>

        <% if current_user %>
          <%= link_to 'Log out', current_user, :method=>:delete, :id=>:logout %>
        <% else %>
           <div id='nav_login'><%= (RPXNow.popup_code("#{submit_tag 'Sign in'}",RPX_APP_NAME, users_url)).html_safe %></div>
        <% end %>
      </div>  
    </div>


    <div id="container" class='<%=class_type %>' >

	   <a href='/' id='logo'><img src='/images/logo.png'></a>
      
      <div id="ajax_flash_error" class="flash_error" style="display:none"></div>
      <div id="ajax_flash_notice" class="flash_notice" style="display:none"></div>
      <div id= "timeline_chart_errors" style="display:none"></div>
      <div id= "event_errors" style="display:none"></div>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}", :class => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %> 
      <%= yield %> 
    </div>
	 
    <div id='footer'>
      <div id='footer_contents' > 
        <a href='/about' class='footer_element' >About</a> 
        <a href='/' class='footer_element'>Home</a>
        <span class='footer_element'>Made by Andrew Nagi &amp; Jimmy Tidey </span>
      </div>
    </div> 

	

<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};

  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "timeline_maker";
  feedback_widget_options.placement = "left";
  feedback_widget_options.color = "#222";
  feedback_widget_options.style = "idea";
  
  
  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20329261-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
	
  </body>
</html>
