<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'jquery-ui' %>
    <%= javascript_include_tag 'rails' %>
    <%# javascript_include_tag 'json2' %>
    <%= javascript_include_tag 'application' %>
    <%# Freebase suggest %>
    <link type="text/css" rel="stylesheet" href="http://freebaselibs.com/static/suggest/1.2.1/suggest.min.css" />
    <script type="text/javascript" src="http://freebaselibs.com/static/suggest/1.2.1/suggest.min.js"></script>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id="user_nav">
          <% if current_user %>
            <%= button_to 'Log out', current_user, :method=>:delete %>
          <% else %>
            <%= (RPXNow.popup_code("#{submit_tag 'Sign in'}",'timeline', users_url)).html_safe %>
          <% end %>
      </div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
        <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
