<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <% if Rails.env.production? then %>
      <%= javascript_include_tag 'jquery/jquery.min' %>
      <%= javascript_include_tag 'jquery/jquery-ui.min' %>
    <% else %>
      <%= javascript_include_tag 'jquery/jquery' %>
      <%= javascript_include_tag 'jquery/jquery-ui' %>
    <% end %>
    <%= javascript_include_tag 'rails' %>
    <%= javascript_include_tag 'application' %>
    <%# Freebase suggest %>
    <link type="text/css" rel="stylesheet" href="http://freebaselibs.com/static/suggest/1.2.1/suggest.min.css" />
    <script type="text/javascript" src="http://freebaselibs.com/static/suggest/1.2.1/suggest.min.js"></script>
    <%# simile timeline from MIT servers: <script src="http://static.simile.mit.edu/timeline/api-2.3.0/timeline-api.js" type="text/javascript"></script> %>
    <script>
      Timeline_ajax_url="/javascripts/timeline/timeline_ajax/simile-ajax-api.js";
      Timeline_urlPrefix='/javascripts/timeline/timeline_js/';       
      Timeline_parameters='bundle=true';
    </script>
    <script src="/javascripts/timeline/timeline_js/timeline-api.js" type="text/javascript"></script>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id="user_nav">
          <% if current_user %>
            <%= button_to 'Log out', current_user, :method=>:delete %>
          <% else %>
            <%= (RPXNow.popup_code("#{submit_tag 'Sign in'}",'timeline', users_url)).html_safe %>
          <% end %>
      </div>
      <div id="flash_error" style="display:none"></div>
      <div id="flash_notice" style="display:none"></div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
        <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
